.coverImage {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20%;
    z-index: 1;
    column-fill: auto;
    background-image: url("cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
 
.colorThing {
    display: block;
    height: 150px;
    background-color: #7986CB;
    z-index: 0
}
 
.coverImageTint {
    z-index: 1;
    height: inherit;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(5, 64, 134, 0.4);
}
 
.chiHomeCard1x1 {
    width: 340px;
    height: 340px;
    background-color: rebeccapurple;
    margin-top: 0;
    margin: 5;
    horizontal-alignment:center;
}
 
.chihomeCard1x2 {
    display: inline-block;
    width: 690px;
    height: 340px;
    background-color: rebeccapurple;
    float: left;
    margin-top: 0;
    margin: 5;
}
 
.chihomeCard1x3 {
    display: inline-block;
    width: 1040px;
    height: 340px;
    background-color: rebeccapurple;
    float: left;
    margin-top: 0;
    margin: 5;
}
 
.content-grid {
    max-width: 1250px;
}
 
.chiCard {
    height: 85%;
    overflow: auto;
}
 
.toTop {
    z-index: 5;
}
 
.toUp {
    margin-top: -64px;
}
 .customContainer{
    /*max-width: 1300px;*/
    display:flex;
    justify-content:center;
    align-items:center;
    max-width:1300px;
}
.toTransparent {
    background-color: rgba(0, 0, 0, 0.0);
}
 
.toAlmostTransparent {
    background-color: rgba(0, 0, 0, 0.3);
}